body {
  background-color: #cfcfcf;
}

.container {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;
  width: 500px;
  height: 500px;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  border: 4px solid gray;
}

.container div {
  height: 164px;
}

[id="cell"] {
  background-color: white;
}

.hover {
  background-color: #aaaaaa;
}

.header {
  display: flex;
  justify-content: center;
  background-color: #d2ecfa;
  height: 250px;
}

.title {
  font-size: 100px;
  line-height: 250px;
  font-family: 'Montserrat', sans-serif;
}